name: helm-package-and-deploy

on:
  push:
    branches:
      - main

jobs:
  package-and-deploy:
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          submodules: 'true'
          fetch-depth: 0 # all history for all branches and tags      
      - uses: azure/setup-helm@v4.2.0
        id: installHelm
        with:
          version: 'latest'
      - name: Get Meta
        id: meta
        run: |
          echo "REPO_NAME=${GITHUB_REPOSITORY#$GITHUB_REPOSITORY_OWNER/}" >> $GITHUB_OUTPUT
          echo REPOSITORY=ghcr.io/$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]') >> $GITHUB_OUTPUT
          echo REPO_VERSION=${GITHUB_REF_NAME#v} >> $GITHUB_OUTPUT
      - name: Get Version from Chart
        id: get_version
        run: |
          echo HELM_FINAL_VERSION=$(grep -m 1 -Eo '[0-9]{1,}.[0-9]{1,}.[0-9]{1,}-[a-z0-9]{1,}' ./bitnami_charts/bitnami/external-dns/Chart.yaml) >> $GITHUB_OUTPUT
      - name: Package
        id: package
        run: |
          mkdir dist
          helm package --dependency-update ./bitnami_charts/bitnami/external-dns --destination dist
      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Push to registry
        if: github.event_name != 'pull_request'
        id: push
        run: |
          helm push ./dist/external-dns-${{ steps.get_version.outputs.HELM_FINAL_VERSION }}.tgz oci://${{ steps.meta.outputs.REPOSITORY }}        